/*reset css*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block}body{line-height: 1}ol, ul{list-style: none}blockquote, q{quotes: none}blockquote:before, blockquote:after,q:before, q:after{content: '';content: none}table{border-collapse: collapse;border-spacing: 0}
body {
    color: #3A006E;
    font-family: Montserrat,sans-serif;
    padding-top: 70px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:15px;
  }
  img { 
    width: 100%; 
  }
h1{
    font-size:25px;
    font-weight: 500;
    margin-bottom: 20px;
}
table {
  display: none;
}
.mainForm{
  margin: 0 30px;
}
.mainForm h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}
.dream{
  background-color: #F3EFFD;
  color: #10122D;
  width: 100%;
  border-radius: 8px;
  padding: 10px 22px;
  margin-bottom: 20px;
}
.dreamDateTime{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.dream_date{
  color: #10122D;
  font-size: 18px;
  font-weight: 600;
}
.dream_time{
  color: #A6A5BC;
  font-size: 12px;
}
.dream_text{
  color: #616072;
  font-size: 12px;
  line-height: 1.3;
}